.chevron-right {
  float: right;
}

.en-flag {
  padding-right: 5px;
}

.en-flag, .safety-icon {
  vertical-align: middle;
}

.lower-nav {
  background-color: var(--page-section-backgrounds);
  padding-bottom: 100%;
}

.lower-nav__link {
  margin-bottom: 15px;
}

.lower-nav-ul {
  margin-top: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 15px;
}

.menu-div {
  padding: 5px 15px 5px 15px;
  background-color: black;
  color: white;
}

.mobile-nav {
  text-decoration: none;
  color: var(--dark-text);
}

.mobile-nav__link {
  padding: 15px;
  border-bottom: solid 1px var(--borders);
}

.question-circle, .map-marker-alt {
  margin-right: 5px;
}

.times {
  float: right;
  color: white;
  vertical-align: middle;
}