@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary: #b81830;
  --dark-text: #181818;
  --borders: #d0d0d0;
  --lightest-text: #666666;
  --page-section-backgrounds: #f4f4f4;
  --light-text: #404040;
}

body {
  font-family: 'Noto Sans', sans-serif;
}


