.top-links {
  display: none;
}

@media (min-width: 768px) {
  .leftnav {
    flex-grow: 1;
  }

  .rightnav {
    padding-right: 10px;
  }

  .top-links {
    display: flex;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: black;
    color: white;
    padding: 10px;
  }
}