.main-links {
  display: none;
}

.navbar-toggle-button {
  display: block;
}

@media (min-width: 768px) {
  .large-logo {
    max-width: 150px;
    float: left;
  }

  .main-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    /* justify-content: space-around; */
    align-items: center;
    border-bottom: solid 2px var(--borders);
    padding: 0px 10px 10px 0px;
  }

  .main-nav {
    display: inline;
  }

  .main-nav__link {
    margin-left: 40px;
  }

  .navbar-toggle-button {
    display: none;
  }

  .solutions-link {
    text-decoration: none;
    color: var(--dark-text);
  }

  #last-link {
    flex-grow: 1;
  }

  #search {
    padding: 10px;
    border: solid 1px var(--borders);
    border-radius: 5px;
    width: 300px
  }
}