.main-nav {
  display: none;
}

.mobile-header {
  display: flex;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  padding: 15px;
}

.mobile__left-icon {
  flex-grow: 1;
  align-items: center;
}

.mobile__right-icon {
  margin-left: 5px;
  margin-right: 20px;
}

.small-logo {
  flex-grow: 1;
  max-width: 100px;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .large-logo {
    max-width: 150px;
    float: left;
  }

  .main-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    border-bottom: solid 2px var(--borders);
    padding: 0px 10px 20px 0px;
    font-size: 20px;
  }

  .main-nav {
    display: inline;
  }

  .main-nav__link {
    margin-left: 40px;
    font-size: 20px;
  }

  .mobile-header {
    display: none;
  }

  .solutions-link {
    text-decoration: none;
    color: var(--dark-text);
  }

  .solutions-link:active {
    color: var(--primary);
  }

  #last-link {
    flex-grow: 1;
  }

  #search {
    padding: 20px;
    border: solid 1px var(--borders);
    border-radius: 5px;
    width: 300px
  }
}