.hamburger {
  color: var(--dark-text)
}

.main-nav {
  display: none;
}

.mobile-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  list-style-type: none;
  padding: 15px;
}

.mobile-header.hidden {
  display: none;
}

.mobile-header-child {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  width: 200px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  header {
    border-bottom: solid 2px var(--borders);
  }

  .large-logo {
    max-width: 150px;
    float: left;
    padding-bottom: 16px;
  }

  .main-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    box-shadow: 0px 0px 12px -12px var(--borders);
    padding: 0px 10px 10px 0px;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .main-nav {
    display: inline;
  }

  .main-nav__link {
    margin-left: 30px;
    font-size: 16px;
    text-transform: uppercase;
  }

  .main-nav__link:nth-last-child(2) {
    flex-grow: 1;
  }

  .mobile-header {
    display: none;
  }

  ::placeholder {
    font-size: 18px;
    color: var(--light-text)
  }

  .solutions-link {
    text-decoration: none;
    color: var(--dark-text);
  }

  .solutions-link.open {
    color: var(--primary);
    border-bottom: solid 3px var(--primary);
    padding-bottom: 23px;
  }

  #search {
    padding: 18px;
    border: solid 1px var(--borders);
    border-radius: 5px;
    width: 300px;
    background-image: url('../images/magnifying-glass.png');
    background-repeat: no-repeat;
    background-position: right;
  }
}