.drop-down {
  display: none;
}

.drop-down.open {
  display: block;
  margin-top: 40px;
}

.solutions__links {
  padding: 0px 20px 25px 20px;
}

/* .solutions__links:first-child {
  padding-top: 0px;
} */

li {
  list-style-type: none;
}